#City {
  size: 3em;
  background-color: hsl(144, 90%, 46%);
  display: flex;
  text-align: center;
  width: 100px;
  height: 43px;
  font-weight: bold;
  font-size: 1rem;
  margin: auto;
  border-radius: 15px;
}
body {
  margin: 0;
}
#Enter {
  text-align: center;
  width: 100px;
  margin: auto;
  display: flex;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(235, 235, 235);
  text-shadow: 1px 1px 1px hsl(0, 0%, 0%);
  width: 100%;
  text-align: center;
  padding: 0%;
}
#City:hover {
  background-color: hsl(144, 90%, 56%);
}

#City:active {
  background-color: hsl(144, 90%, 66%);
}

body {
  background: url("96b1d23f0c94b6c071768937147562cba7966faf-1600x1066.jpg");
}

#Weather {
  text-align: center;
  font-size: 3rem;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  border-radius: 200px;
  width: 70%;
  margin: 40px auto;
}
